.PlstT{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.inputField{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed_header {
    width: 450px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid black;
  }
  .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 16rem;
  }

  .fixed_header tbody tr,
  .fixed_header thead tr {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fixed_header tbody tr{
      padding: 2px;
  }
  .fixed_header thead {
    background: black;
    color: #fff;
  }
  .fixed_header th,
  .fixed_header td {
    text-align: left;
    width: 100%;
  }

  .tbody tr:hover{
    background: lightgrey;
  }

  @media(max-width:1200px){
    .fixed_header {
      width: 100%;
    }

    .fixed_header tbody tr{
      padding: 0;
    }

    /* .th1{
      padding: 24px;
    } */
  }



  /* slider area */
  .carousel-inner{
      height: 60vh;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;

}

h1,p{
    text-shadow: 2px 2px 5px black;
}
.slider-row {
    margin: 0;
    padding: 0;
}
.slider-wrapper {
    margin: 0;
    padding: 0 !important;
    background: #000 !important;
}
.carousel-caption h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}
.carousel-caption p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
.carousel-caption button {
    width: 200px;
    height: 35px;
    background: #3a9ecb;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
}
.carousel-caption button:hover {
    background: #2a2a2a;
}

.d-block{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-control {
    width: 10%;
}
.carousel-inner {
    background: -webkit-linear-gradient(left, #000, blue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #000, blue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #000, blue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #000, blue);
    /* Standard syntax */
}
.item {
    position: relative;
}
.carousel-caption {
    position: absolute;
    text-align: left;
    left: 12%;
    line-height: 1;
    top: 50%;
    margin-top: -100px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    font-size: 18px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    margin-left: 0;
    margin-top: 50px;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    font-size: 18px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    margin-right: 0;
    margin-top: 50px;
}
.carousel-inner {
    position: relative;
}
/* ======================css for carousel========================= */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
    opacity: 1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0) 100%);
}


@media(max-width:1100px){
    .carousel-inner{
        height: auto;
    }
    .carousel-caption p {
        font-size: 2rem;
    }
    .carousel-caption button {
        width: auto;
        height: auto;
        font-size: 2rem;
    }
    .carousel-caption h1 {
        font-size: 2rem;
        margin-top: 9vh;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 20px;
        width: 20px;
        outline: black;
    }

}

@media(max-width:700px){
    .carousel-inner{
        height: auto;
    }
    .carousel-caption p {
        font-size: 1rem;
    }
    .carousel-caption button {
        width: auto;
        height: auto;
        font-size: 1rem;
    }
    .carousel-caption h1 {
        font-size: 1rem;
        margin-top: 7vh;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 20px;
        width: 20px;
        outline: black;
    }

}


/* Details css section */
.p-photo{
    border: 2px solid black;
    height: 20vh;
    width: 22vh;
}

.ppdetails{
    border: 2px solid black;
}

.ppdr{
    margin-top: 6vh;
}

.ppdtitle{
    font-size: 1.1rem;
    font-weight: bold;
}

.p-pid{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1vh;
    margin-right: 2vh;
}

.resbtn1{
    display: flex;
}
.resbtn2{
    display: none;
}



@media(max-width:1000px){
    .p-photo{
        width: auto;
    }
}

@media(max-width:720px){
    .pstext{
        font-size: 1rem;
        font-weight: bold;
    }

    .resbtn1{
        display: none;
     }

    .resbtn2{
       display: flex;
    }

    .ppdetails{
        margin: 0;
        padding: 0;
    }
}

@media(max-width:720px){
    .rowdet{
        margin: 0;
        padding: 0;
    }

    .p-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14vh;
        margin-top: 1vh;
        width: 50%;
    }
}

@media(max-height:1500px){

}
