<!--Navbar-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
        <div class="container" style="justify-content: center;align-items:center">
            <!-- Navbar Brand -->
            <h1 class="display-4"style="color: whitesmoke;">Registration for Doctor</h1>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="/assets/doctor.svg" alt="reg" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="#">
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" [(ngModel)]="objDoctor.doctorFName" name="firstname" placeholder="First Name"
                          class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" name="lastname" [(ngModel)]="objDoctor.doctorLName" placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>


                    <!-- Email Id-->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input id="UserName" type="text" name="UserName" [(ngModel)]="objDoctor.doctorEmail" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input id="Password" type="text" name="Password" [(ngModel)]="objDoctor.doctorPassword" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- phone Number-->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input id="email" type="text" name="phone" [(ngModel)]="objDoctor.doctorPhone" placeholder="Mobile Number"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Gender -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <select id="job" name="jobtitle" [(ngModel)]="objDoctor.doctorGender"
                            class="form-control custom-select bg-white border-left-0 border-md">

                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <!-- Qualification -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <select id="quali" name="jobtitle" [(ngModel)]="objDoctor.doctorQualification"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="MBBS">MBBS</option>
                            <option value="Dentist">Dentist</option>
                            <option value="MD">MD</option>
                        </select>
                    </div>

                    <!-- Experience in  -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="experience" [(ngModel)]="objDoctor.doctorExperience" type="email" name="email" placeholder="Experience(In year)"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- DOB -->
                    <div class="input-group col-lg-6 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                          </span>
                      </div>
                      <input id="DOB" [(ngModel)]="objDoctor.doctorDOB" type="date" name="DOB" placeholder="DOB(YYYY/MM/DD)"
                          class="form-control bg-white border-left-0 border-md">
                  </div>
                        <!-- zip code -->

                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                          </div>
                          <input id="email" [(ngModel)]="objDoctor.doctorZipCode" type="text" name="zip" placeholder="Zip Code"
                              class="form-control bg-white border-left-0 border-md">
                      </div>


                    <!-- state -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                            <input id="email" type="email" name="email" [(ngModel)]="objDoctor.doctorState" placeholder="State"
                            class="form-control bg-white border-left-0 border-md">
                        </div>

                    </div>

                    <!-- City -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="text" name="City" [(ngModel)]="objDoctor.doctorCity" placeholder="City"
                        class="form-control bg-white border-left-0 border-md">
                    </div>


                    <!--Specialist In-->

                    <div class="input-group col-lg-12 mb-4">
                      <label for="job">Specialist</label>
                        <select id="job" class="ml-2" name="jobtitle" [(ngModel)]="objDoctor.doctorSpecialization"
                            class="form-control custom-select bg-white border-left-0 border-md">

                            <option value="ENT">ENT</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Dietician">Dietician</option>
                        </select>
                    </div>

                    <!-- Address -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                          <i class="fa fa-address-book" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input id="address" type="text" name="Address" [(ngModel)]="objDoctor.doctorAddress" placeholder="Address"
                        class="form-control bg-white border-left-0 border-md">
                    </div>

                    
                      

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                       <button (click)="AddDoctor(objDoctor)" class="btn btn-primary btn-block py-2">
                         <span class="font-weight-bold">Create your account</span>y
                         
                       </button>


                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="#"
                                class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
