<!DOCTYPE html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container-fluid" style="height:auto; background: #e3f2fd">


  <div class="row d-flex content1">
    <div class="container col-12">
      <div class="row mt-1 ml-4 rowdet">
        <div class="col-12 col-md-3 p-0">
            <div class="p-photo ml-5 p-0"></div>
            <div class="mt-4 p-pid shadow-lg">
              <i class="fa fa-id-badge "></i><span class="ppdtitle" style="font-size: larger; font-weight: 500; margin-left: 1%;">  Patient_Id : </span>&nbsp;
                <span class="" style="font-size: larger; font-weight: 500;">120</span>
            </div>
        </div>

        <div class="col-12 col-sm-9 col-md-9 col-lg-8 ppdetails mb-3 shadow-lg bg-white rounded">
          <h2><u><b><i class="fa fa-address-card"></i>  Patient Information :</b></u></h2>
          <div class="row">
                <div class="col-6 mb-0">
                    <span><i class="fa fa-user"></i> Name : </span>
                    <span class="ppdvalue">Shashank Agam</span>
                </div>
                <div class="col-6">
                    <span><i class="fa fa-envelope"></i> Email-Id : </span>
                    <span class="ppdvalue">shashank@gmail.com</span>
                </div>
            </div>
            <div class="row ppdr">
                <div class="col-6">
                    <span><i class="fa fa-address-book"></i> Address : </span>
                    <span class="ppdvalue">dominos pizza near collage road, nashik</span>
                </div>
                <div class="col-6">
                    <span><i class="fa fa-phone"></i> PhoneNo. : </span>
                    <span class="ppdvalue"> 7878787878</span>
                </div>
            </div>
            <div class="row ppdr">
                <div class="col-4">
                    <span><i class="fa fa-calendar"></i> DOB : </span>
                    <span class="ppdvalue">21/07/1996</span>
                </div>
                <div class="col-4">
                    <span><i class="fa fa-venus-mars"></i> Gender : </span>
                    <span class="ppdvalue">Male</span>
                </div>
                <div class="col-4">
                    <span><i class="fa fa-male"></i> Weight : </span>
                    <span class="ppdvalue"> 57Kg</span>
                </div>
            </div>
            <div class="row ppdr">
                <div class="col-6">
                    <span class="ppdtitle"> Patient_ipd : </span>
                    <span class="ppdvalue">P02</span>
                </div>
                <div class="col-6">
                    <span class="ppdtitle"> Patient_opd : </span>
                    <span class="ppdvalue"> none</span>
                </div>
            </div>
            <div class="row ppdr">
                <div class="col-6">
                    <span><i class="fa fa-clinic-medical"></i> Patient_ward : </span>
                    <span class="ppdvalue"> W1</span>
                </div>
                <div class="col-6">
                    <span><i class="fa fa-bed"></i>Patient_bedNo. :</span>
                    <span class="ppdvalue"> 12</span>
                </div>
            </div>

        </div>


    </div>
</div>

<div class="col-12" style="background-color: rgb(216, 21, 21); height: 6vh;">
  <marquee width="100%" direction="left" height="100px">
    <div style="color: seashell; font-size: 4vh; font-weight: 500;  text-shadow: black; font-family: monospace;">
        1) Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.
             2) Maintain at least 1 metre distance between you and people coughing or sneezing.
             3) Avoid touching your face.
             4) Cover your mouth and nose when coughing or sneezing.
             5) Stay home if you feel unwell.
    </div>
    </marquee>
</div>


   <!-- Row 2 -->
<div class="container row col-12 mt-3" style="border: 4px solid black; padding: 2%;">
  <h2><u><i class="fa fa-stethoscope"></i>  Patient Reports </u> :</h2>
  <div class="tableFixHead table-striped table-responsive table-hover">
    <table style="background-color:rgba(47, 184, 100, 0.555)!important;">
      <thead  style="background-color: rgba(0, 0, 0, 0.438);">
        <tr>
          <th scope="col"><i class="fa fa-calendar"></i>  Date</th>
          <th scope="col"><i class="fa fa-heart"></i>Heart Rate</th>
          <th scope="col"><i class="fa fa-heartbeat"></i>Pulse</th>

          <th scope="col"><i class="fa fa-flask"></i>Fsbs</th>

          <th scope="col"><i class="fa fa-gratipay"></i>BP</th>

          <th scope="col"><i class="fa fa-thermometer"></i> Temp</th>

          <th scope="col"><i class="fa fa-bed"></i> Oxygen</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>
        <tr>
          <td>A1</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
          <td>A1</td>
          <td>A2</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
</div>

<div class="row container treatment col-12"  >

<div class="col-6 mt-3 mb-5">
<h2><u><i class="fa fa-plus"></i>  Patient Treatment </u> :</h2>
<div class="tableFixHead table-striped table-responsive table-hover">
  <table style="background-color:rgba(47, 184, 100, 0.555)!important;">
    <thead >
      <tr>
        <th scope="col"><i class="fa fa-calendar"></i>  Date</th>
        <th scope="col"><i class="fa fa-clipboard"></i>  Report</th>
        <th scope="col"><i class="fa fa-user-md"></i>  Medicine</th>




      </tr>
    </thead>
    <tbody>

      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>
      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>
      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>
      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>
      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>
      <tr>
        <td>A1</td>
        <td>A1</td>
        <td>A2</td>
      </tr>


    </tbody>
  </table>

</div>
</div>


<div class="col-6 mt-5">
<div class="container">
  <div class="row">
    <div class="col" (click)="openModal()">
      <img [src]="imgsrc3" style="height: 30vh;">
    </div>
    <div class="col" (click)="openModal1()">
      <img [src]="imgsrc2" style="height: 30vh;">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button type="button" class="btn btn-outline-primary" (click)="openModal()">Nurse Note</button>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
     <div class="modal-dialog" role="document">
           <div class="modal-content">
                 <div class="modal-header">
                       <h4 class="modal-title">Nurse Report</h4>
                       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                     </div>
            <div class="modal-body">
                       <p>
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                        ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFA


                       </p>
                     </div>
                 <div class="modal-footer">
                       <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                     </div>
        </div>
         </div>
</div>

    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary" (click)="openModal1()">Doctor Note</button>
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">Doctor Report</h4>
                          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled1()"><span aria-hidden="true">&times;</span></button>
                        </div>
               <div class="modal-body">
                          <p>
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis expedita quis mollitia nulla adipisci voluptas repellat ipsa. Blanditiis corrupti sit assumenda, voluptas, ipsa harum corporis dicta maxime deleniti, exercitationem architecto?
                            </p>
                        </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-default" (click)="onCloseHandled1()" >Close</button>
                        </div>
           </div>
            </div>
    </div>

    </div>
</div>
</div>



