<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid" style="height:auto;">
    <!-- Row 1-->
    <div class="row d-flex content1">
        <div class="col-md-4 col-sm-6" style="border: 1px solid black;">
            <b>Patient list : </b>
            <div class="input-group flex-nowrap inputField">
                <input type="text" class="form-control" placeholder="Enter Patient Name" [(ngModel)]="patient_name"
                    (ngModelChange)="SearchPatient()">
            </div>
            <table class="table1 table-sm table-fixed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="tbody" *ngFor="let p of patient">
                    <tr>
                        <td>{{p.p_id}}</td>
                        <td>{{p.p_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 " style="border: 1px solid black;">
            <div class="row  content11">
                <div class="col-2 d-flex justify-content-center">
                    <img [src]="imgsrc" style="width: auto; height: 100px;">
                </div>
                <div class="col-md-10 col-sm-12"><b>Patient Information :</b>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">Patient id :</th>
                                <td>P101</td>
                                <th scope="row">Name :</th>
                                <td>Tom</td>
                            </tr>
                            <tr>
                                <th scope="row">Email:</th>
                                <td>tom@gmail.com</td>
                                <th scope="row">Phone No :</th>
                                <td>998787678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row  d-flex content11">
                <div class="col-md-12"><i class="fa fa-stethoscope" aria-hidden="true"></i><b>Examine Report</b>
                    <form>
                        <table class="table2 table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <th scope="col">Head</th>
                                    <td></td>
                                    <th scope="col">Neck</th>
                                    <td></td>
                                    <th scope="col">Chest</th>
                                    <td></td>
                                    <th scope="col">Back</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="col">Heart</th>
                                    <td></td>
                                    <th scope="col">Neuro</th>
                                    <td></td>
                                    <th scope="col">Adomen</th>
                                    <td></td>
                                    <th scope="col">Extremities</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="col">Others</th>
                                    <td></td>
                                    <th scope="col">Pulse</th>
                                    <td></td>
                                    <th scope="col">Resp</th>
                                    <td></td>
                                    <th scope="col">BP</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="col">Temp</th>
                                    <td></td>
                                    <th scope="col">Pulse_Oxygen</th>
                                    <td></td>
                                    <th scope="col">Fsbs</th>
                                    <td></td>
                                    <th scope="col">Head</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row content2" style="border: 1px solid black;">
        <div class="col-md-4 col-sm-3" style="border: 1px solid black;">
            <b>View Treatment</b>
            <select class="form-control" searchable="Search here..">
                <option disabled>Select Treatment</option>
                <option class="btn" *ngFor="let item of treatment">{{item}}</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-3" style="border: 1px solid black;">
            <b>Mediciens</b>
            <table class="table1 table-sm sticky">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody *ngFor="let m of mediciens">
                    <tr>
                        <td>{{m.m_id}}</td>
                        <td>{{m.m_name}}</td>
                        <td>{{m.m_type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-sm-3">
            <b><i class="fa fa-sticky-note" aria-hidden="true"></i>Mediciens Description</b>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Description here......."></textarea>
            <input class="btn btn-primary" (click)="display()" type="submit" value="Add">
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row mt-3  content3" *ngIf="uiAlert" style="border: 1px solid black;"
        style="background-color:gray; color: white; font-weight: bold;">
        <div class="col-md-3 col-sm-12">Medicien Name</div>
        <div class="col-md-4 col-sm-12">Description</div>
        <div class="col-md-3 col-sm-12">Type</div>
    </div>

    <!-- Row 4 -->

    <div class="row  content3" *ngIf="uiAlert" style="border: 1px solid black;" style="background-color:whitesmoke">
        <div class="col-md-3 col-sm-12">{{m_name}}</div>
        <div class="col-md-4 col-sm-12">{{m_desc}}</div>
        <div class="col-md-3 col-sm-12">{{m_type}}</div>
        <div class="col-md-1 col-sm-6">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal1"
                data-whatever="">Update</button>
        </div>
        <div class="col-md-1 col-sm-6"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                data-target="#exampleModal2">
                Remove
            </button></div>
        <!-- Model for Update Mediciens -->

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Medicien Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Medicien name here....">
                            </div>
                            <div class="form-group">
                                <label>Medicien Type</label>
                                <input type="text" class="form-control" id="type" placeholder="Medicien type here....">
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="message-text"
                                    placeholder="description here...."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-sm">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Model for Remove Mediciens -->

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        sure, you want to delete ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>