
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
        <div class="container align-items-center" style="display:flex;justify-content:center">
            <!-- Navbar Brand -->
            <h1 class="display-4" style="color: white;">Registration for Nurse</h1>
        </div>
    </nav>`
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="/assets/nurse.svg" alt="reg" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="#">
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" [(ngModel)]="objNurse.nurseFName" type="text" name="firstname" placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" [(ngModel)]="objNurse.nurseLName" name="lastname" placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>


                    <!-- Email Id-->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input id="UserName" type="text" name="UserName" [(ngModel)]="objNurse.nurseEmail" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-unlock-alt" aria-hidden="true"></i>

                            </span>
                        </div>
                        <input id="Password" type="text" name="Password" [(ngModel)]="objNurse.nursePassword" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- phone Number-->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input id="phone" type="number" name="phone" [(ngModel)]="objNurse.nursePhone" placeholder="Mobile Number"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Gender -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <select id="job" name="jobtitle" [(ngModel)]="objNurse.nurseGender"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <!-- Qualification -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <select id="job" name="jobtitle" [(ngModel)]="objNurse.nurseQualification"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value=""> Select Qualification</option>
                            <option value="Bachelor of Science in Nursing "> Bachelor of Science in Nursing (BSN)</option>
                            <option value="Doctorate Of Nursing Practice ">Doctorate Of Nursing Practice (DNP)</option>
                            <option value="Clinical Nurse Specialist">Clinical Nurse Specialist (CNS)</option>
                            <option value="Family Nurse Practitioner">Family Nurse Practitioner (FNP)</option>

                          </select>
                    </div>

                    <!-- Experience in  -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="experience" type="number" name="Experience" [(ngModel)]="objNurse.nurseExperience" placeholder="Experience(In year)"
                            class="form-control bg-white border-left-0 border-md">
                    </div>


                    <!-- state -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="state" type="text" name="State" [(ngModel)]="objNurse.nurseState" placeholder="State"
                        class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- City -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="City" type="text" name="City" [(ngModel)]="objNurse.nurseCity" placeholder="City"
                        class="form-control bg-white border-left-0 border-md">
                    </div>


                  <!-- Zip code -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="ZipCode" type="text" name="Code" [(ngModel)]="objNurse.nurseZipCode" placeholder="Zip Code"
                        class="form-control bg-white border-left-0 border-md">
                    </div>



                    <!-- Address -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                          <i class="fa fa-address-book" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input id="address" type="text" name="address" [(ngModel)]="objNurse.nurseAddress" placeholder="Address"
                    class="form-control bg-white border-left-0 border-md">
                    </div>

                       <!-- NurseDOB -->
                    <div class="input-group col-lg-12 mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                          <i class="fa fa-address-book" aria-hidden="true"></i>
                        </span>
                    </div>
                        <input id="DOB" type="date" name="DOB" [(ngModel)]="objNurse.nurseDOB"
                        class="form-control bg-white border-left-0 border-md">
                    </div>


                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button (click)="AddNurse(objNurse)" class="btn btn-primary btn-block py-2">
                          <span class="font-weight-bold">Create your account</span>
                        </button>


                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="#"
                                class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
