<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Services</h2>
      <p>We Offer Fast & Reliable Medical & HealthCare Solutions to Our Patients</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="icofont-heart-beat"></i></div>
          <h4><a href="">Surgical Services</a></h4>
          <p>state-of-an-art infrastructure and latest advanced equipment in surgical and laparoscopy procedures with the best in class operation theatres. We are also proud to announce that we are one of the first hospitals in Navi Mumbai to offer the highly advanced minimal invasive da Vinci Robotic Surgery.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="icofont-drug"></i></div>
          <h4><a href=""> Laboratory Services</a></h4>
          <p>The best state of the art testing facilities are provided by our hospital, the test are conducted and supervised by competent technicians and pathologists respectively, with appropriate system of maintenance of records of tests and standing orders and procedures.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="icofont-dna-alt-2"></i></div>
          <h4><a href="">DNA studying technology</a></h4>
          <p>The DNA of human is fairly complex, we have incorporated various state of the art technology to make advancement in technnology related of DNA study. </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="icofont-heartbeat"></i></div>
          <h4><a href="">Covid safe services</a></h4>
          <p> The environment is made so as to maintain a safe place to contain contagious diseases. </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="icofont-disabled"></i></div>
          <h4><a href="">Physiotherapy and Rehabilitation:</a></h4>
          <p>Physiotherapy and rehabilitation is increasingly becoming an integral part of modern hospitals, and our hospitals takes special care to provide it withe best of our abilities.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="icofont-autism"></i></div>
          <h4><a href="">Paediatric Services</a></h4>
          <p> We take special care for the children in our facilities so as to provide a serene environment for children. </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
