<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
  <div class="container-fluid">

    <div class="section-title">
      <h2>Departments</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Cardiology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-2">Neurology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-3">Hepatology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-4">Pediatrics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-5">Psychiatry</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cardiology</h3>
                <p class="font-italic">The department of Cardiology offers most current and specialized treatment strategies.</p>
                <p>Our integrated amenities are supported by internationally trained highly qualified doctors, nurses and support staff, state-of-the-art specialized cardiolo equipment and facilities. This makes this hospital one of the premier institutions for cardiac care in the city as well as the county. Our highly trained and proficient cardiology physicians are accompanied by experienced cardiac surgeons provide excellent all-encompassing care for any heart ailment We strongly believe in "Patient Centric treatment so that informed and evidence-based decisions are taken for every patient</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Neurology</h3>
                <p class="font-italic">Neurology is the branch of medicine that deals with the anatomy, functions, and organic disorders of nerves and the nervous system.</p>
                <p>The department of Neurology is committed to integrating their exceptional medical expertise, technology and Innovation to offer best in class treatments that is at par with international standards. We seek to provide the highest quality general neurological care for our patients along with routine Outdoor, Indoor and dedicated Emergency afrd Neuro-intensive care especially after surgery and stroke.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Hepatology</h3>
                <p class="font-italic">Clinical Haematology services are based on an indoor, outdoor and daycare facilities at MGM hospital, Vashi. We provide special diagnostic investigations and treatment for a wide range of blood, bone marrow and spleen disorders.</p>
                <p>We provide special diagnostic investigations and treatment for a wide range of blood, bone marrow and spleen disorders. Both adult and paediatric well experienced haematologists and haemato-oncologists on board take care of patients of all age groups. We treat all types of anaemia, platelet disorders, enlarged lymph nodes or spleen, polycythaemia (high red all count), bleeding and clotting disorders, iron metabolism disorders such as haemochromatosis (iron overload) and abnormal white cell counts. The department also treats blood cancer, including conditions of leukaemia, lymphoma, multiple myeloma and other disorders.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Paediatric</h3>
                <p class="font-italic">MGM Vashi's Pediatric team is skilled in management of various pediatric diseases, critical illnesses, developmental or birth disorders, and traumatic injuries.</p>
                <p>We have consultants with excellent medical acumen and experience. Our medical team ensures that they recommend appropriate ongoing treatment for their services for children with cardiac, growth and hormone problems, neurological and renal disorders, diabetes, cancer. feeding problems, epilepsy. cystic fibrosis, weight problems and those who have graduated from neonatal intensive care </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Psychiatry</h3>
                <p class="font-italic">Psychiatry and Neuropsychiatry is the medical specialty devoted to the study, diagnosis, treatment of mental disorders. It also includes not only the prevention of mental disorders but also promotion of positive mental health.</p>
                <p>due to rapid change in lifestyles and the resulting stress, the psychological health has become vital. now. Also the rising numbers of stress-related physical illnesses is testimony to this. It is said, "Mens sana in corpore sano meaning a healthy mind in a healthy body Hence the power of a positive and healthy mind and its contribution to an individual's overall health cannot be overlooked. The need of our time, therefore, is to give mental health equal if not greater importance, as we give to our physical health. It is also crucial that we improve upon oneself to achieve greater outputs</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Departments Section -->
