
.container-fluid
{
  width: 100%;
  height: 100%;
  background-color: rgb(252, 245, 236);
  
}

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

/*------------------Validation-------------------*/
@media(max-width:1000px){
    .valid2{
        display: none;
    }

    .llm{
        margin-top: 18px;
    }
}

@media(min-width:1000px){
    .valid1{
        display: none;
    }

}

