<div class="container-fluid">
    <div class="container">
        <div class="jumbotron">
            <h1>Patient's Registration Form</h1>
        </div>
        <div class="row py-5 mt-4 align-items-center">
            <!-- For Demo Purpose -->
            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="#">
                    <div class="row">

                        <!-- Patient's Name -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pname" type="text" name="name" placeholder="Patient's Name"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Patient's Address-->
                        <div class="input-group col-lg-12 mb-4">
                            <textarea class="form-control" id="paddress" rows="2"
                                placeholder="Permanent Address"></textarea>
                        </div>

                        <!-- petient's City-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="page" type="text" name="age" placeholder="City"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- petient Zipcode-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pzipcode" type="text" name="zipcode" placeholder="Zip Code"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- gender -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-black-tie text-muted"></i>
                                </span>
                            </div>
                            <select id="pgender" name="gender"
                                class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="">Select your Gender</option>
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">Others</option>

                            </select>
                        </div>

                        <!-- petient DOB-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pdob" type="date" name="dob" placeholder="Date of Birth"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Weight-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pweight" type="text" name="weight" placeholder="Weight"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--Triage-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="ptriage" type="text" name="triage" placeholder="Triage"
                                class="form-control bg-white border-left-0 border-md">
                        </div>


                        <!-- Medical History -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="pmedicalhistory" type="text" name="medicalhistory" placeholder="Medical History"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- IPD-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="pipd" type="text" name="ipd" placeholder="IPD"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Patient's ward Number-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="pwardnumber" type="text" name="wardnumber"
                                placeholder="Patient's ward Number"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-7 col-lg-6 ml-auto">
                <form action="#">
                    <div class="row">

                        <!-- Email Address -->
                        <div class="input-group col-lg-8 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="pemail" type="email" name="email" placeholder="Email Address"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Password-->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="ppassword" type="password" name="password" placeholder="Password"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                         <!--petient's Password-->
                        <div class="input-group col-lg-12 mb-4">
                            <textarea class="form-control" id="ptaddress" rows="2"
                                placeholder="Temperory Address"></textarea>
                        </div>


                        <!-- petient's State -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pstate" type="text" name="state" placeholder="State"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- petient's Phone Number-->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pphonenumber" type="text" name="phonenumber" placeholder="Phone Number"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--petient's Complaint -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pcomplaint" type="text" name="complaint" placeholder="Complaint"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--petient's Allergies -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="pallergies" type="text" name="allergies" placeholder="Allergies"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's SID-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="psid" type="text" name="sid" placeholder="SID"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's  OPD-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="popd" type="text" name="opd" placeholder="OPD"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's  Bed Number-->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="pbednumber" type="text" name="bednumber"
                                placeholder="Patient's Bed Number"
                                class="form-control bg-white border-left-0 border-md">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
                <a href="#" class="btn btn-primary btn-block py-2">
                    <span class="font-weight-bold">Create your account</span>
                </a>
            </div>

            <!-- Divider Text -->
            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                <div class="border-bottom w-100 ml-5"></div>
                <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                <div class="border-bottom w-100 mr-5"></div>
            </div>

            <!-- Already Registered -->
            <div class="text-center w-100">
                <p class="text-muted font-weight-bold">Already Registered? <a href="#"
                        class="text-primary ml-2">Login</a></p>
            </div>

        </div>
    </div>
</div>