<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid">
    <div class="container">
        <div class="jumbotron bg-primary align-items-center"
            style="height:20px;display: flex;justify-content: center;color:white;">
            <h1>Patient's Registration Form</h1>
        </div>
        <div class="row py-5 mt-4 align-items-center">

            <!-- For Demo Purpose -->
            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-12 ml-auto">
                <form>
                    <div class="row">

                        <!-- Patient's Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientFName" [(ngModel)]="patientInformation.patientFName" type="text"
                                name="name" placeholder="Patient's First Name"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientLName" [(ngModel)]="patientInformation.patientLName" type="text"
                                name="name" placeholder="Patient's Last Name"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- gender -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-black-tie text-muted"></i>
                                </span>
                            </div>
                            <select id="patientGender" [(ngModel)]="patientInformation.patientGender" name="gender"
                                class="form-control custom-select bg-white border-left-0 border-md"
                                placeholder="Gender">
                                <option default>Open this select menu</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Others</option>
                            </select>
                        </div>


                        <!-- petient DOB-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientDOB" [(ngModel)]="patientInformation.patientDOB" type="date" name="dob"
                                placeholder="Date of Birth" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Email Address -->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientEmail" [(ngModel)]="patientInformation.patientEmail" type="email"
                                name="email" placeholder="Email Address"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Password-->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>

                                </span>
                            </div>
                            <input id="patientPassword" [(ngModel)]="patientInformation.patientPassword" type="password"
                                name="password" placeholder="Password"
                                class="form-control bg-white border-left-0 border-md">
                        </div>



                        <!-- petient's Phone Number-->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientPhone" [(ngModel)]="patientInformation.patientPhone" type="text"
                                name="phonenumber" placeholder="Phone Number"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Patient's Address-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>
                                </span>
                            </div>

                            <input type="text" id="patientAddress" [(ngModel)]="patientInformation.patientAddress"
                                name="patient Address" placeholder="Permanent Address" rows="3">

                        </div>

                        <!-- Patient's Temp Address-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientTempAddress" [(ngModel)]="patientInformation.patientTempAddress"
                                name="patient temp address" placeholder="Temporary Address" rows="3">
                        </div>

                        <!-- petient's City-->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientCity" [(ngModel)]="patientInformation.patientCity" type="text" name="city"
                                placeholder="City" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- patient Zipcode-->
                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientZipCode" [(ngModel)]="patientInformation.patientZipCode" type="text"
                                name="zipcode" placeholder="Zip Code"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <div class="input-group col-lg-4 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input id="patientState" [(ngModel)]="patientInformation.patientState" type="text"
                                name="state" placeholder="State" class="form-control bg-white border-left-0 border-md">
                        </div>



                        <!-- Weight-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientWeight" [(ngModel)]="patientInformation.patientWeight" type="text"
                                name="weight" placeholder="Weight"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--Triage-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-black-tie text-muted"></i>
                                </span>
                            </div>
                            <select id="patientTriage" [(ngModel)]="patientInformation.patientTriage" name="tirage"
                                class="form-control custom-select bg-white border-left-0 border-md"
                                placeholder="Triage">
                                <option value="">Select Degree of urgency</option>
                                <option value="green">Green</option>
                                <option value="yellow">Yellow</option>
                                <option value="red">Red</option>
                                <option value="black">Black</option>
                                <option value="birth">Birth</option>

                            </select>
                        </div>


                        <!--petient's Complaint -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientComplaint" [(ngModel)]="patientInformation.patientComplaint" type="text"
                                name="complaint" placeholder="Complaint"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--petient's Allergies -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="patientAllergies" [(ngModel)]="patientInformation.patientAllergies" type="text"
                                name="allergies" placeholder="Allergies"
                                class="form-control bg-white border-left-0 border-md">
                        </div>




                        <!-- Medical History -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientMedicalHistory" [(ngModel)]="patientInformation.patientMedicalHistory"
                                type="text" name="medicalhistory" placeholder="Medical History"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's SID-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientSID" [(ngModel)]="patientInformation.patientSID" type="text" name="sid"
                                placeholder="SID" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's  OPD-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientOPD" [(ngModel)]="patientInformation.patientOPD" type="text" name="opd"
                                placeholder="OPD" class="form-control bg-white border-left-0 border-md">
                        </div>


                        <!-- IPD-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientIPD" [(ngModel)]="patientInformation.patientIPD" type="text" name="ipd"
                                placeholder="IPD" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!-- Patient's ward Number-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientWard" [(ngModel)]="patientInformation.patientWard" type="text" name="ward"
                                placeholder="Patient Ward" class="form-control bg-white border-left-0 border-md">
                        </div>

                        <!--patient's  Bed Number-->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="patientBedNo" [(ngModel)]="patientInformation.patientBedNo" type="text"
                                name="bednumber" placeholder="Patient's Bed Number"
                                class="form-control bg-white border-left-0 border-md">
                        </div>

                    </div>
                </form>
            </div>


            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
                <button (click)="AddPatientInformation(patientInformation)" class="btn btn-primary btn-block py-2">
                    <span class="font-weight-bold">Register Patient</span>
                </button>
            </div>

            <!-- Divider Text -->
            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                <div class="border-bottom w-100 ml-5"></div>
                <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                <div class="border-bottom w-100 mr-5"></div>
            </div>

            <!-- Already Registered -->
            <div class="text-center w-100">
                <p class="text-muted font-weight-bold">Already Registered? <a href="#"
                        class="text-primary ml-2">Login</a></p>
            </div>

        </div>
    </div>
</div>