<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>MGM New Bombay Hospital </h3>
        <p> New Bombay Hospital Vashi is one of the most advanced multi-specialty tertiary care centers in the heart of Navi
          Mumbai in India. Since 1993, the hospital has experienced rapid growth to become a key player in the healthcare sector of this up-and –coming satellite city.</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-clinic"></i></div>
          <h4 class="title"><a href="">24/7 Emergency Services</a></h4>
          <p class="description">MGM Hospital Have state of the art ambulance services. 24/7 quick service</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-broadcast"></i></div>
          <h4 class="title"><a href="">Modern Technologies</a></h4>
          <p class="description">With being navi Mumbais 1st 3 Tesla MRI machine we provide the best class of technology available</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Passionate Doctors & Nurses</a></h4>
          <p class="description">Very experienced team of doctors and nunes</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->


